@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer



<div class="text-center">
    <h1 style="margin: 50px 0px 20px 0px; text-shadow: 2px 2px 10px lightblue" class="display-4">@localizer["Welcome"]</h1>
@*    <h1 style="margin: 50px 0px 20px 0px; text-shadow: 2px 2px 10px lightblue" class="display-4">@ViewData["Welcome"]</h1>
*@
</div>
